@import '~antd/dist/antd.css';

.ant-layout-header {
  background-color: #fff;
}

.App {
  text-align: center;
}

.app-logo {
  max-height: 60px;
  pointer-events: none;
}

.cover {
  background-image: url('/public/images/cover.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  font-size: 50px;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(117, 117, 117, 0.5);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
